.about-shop {
  margin-top: 55px;
}

.about-shop__wrapper {
  width: 1110px;
  margin: 0 auto;
}

.about-shop__title {
  margin: 0;
}

@media (max-width: 1200px) {
  .about-shop__wrapper {
    width: 728px;
  }
}
