.header__top {
  background-color: #f4f4f4;
}

.header__top-wrapper {
  display: flex;
  align-items: center;
  width: 1110px;
  margin: 0 auto;
  padding: 10px 0;
}

.header__order-link {
  margin-left: 70px;
}

.header__social {
  .list-reset();
  margin-left: 70px;
}
