.site-button {
  width: 162px;
  box-sizing: border-box;
  padding: 10px 10px;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  background-color: @red;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: @black;
  }
}

.site-button--search {
  width: 106px;
  font-weight: 400;
  padding-top: 14px;
  padding-bottom: 13px;
}
