.site-button {
  width: 162px;
  box-sizing: border-box;
  padding: 10px 10px;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  background-color: @red;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    color: @black;
  }
}

.site-button--search {
  width: 106px;
  font-weight: 400;
  padding-top: 14px;
  padding-bottom: 13px;
}

.site-button--catalog {
  width: 255px;
  padding-top: 17px;
  padding-bottom: 16px;
  font-weight: 400;
  pointer-events: none;

  &:hover {
    text-decoration: none;
  }

  &:active {
    color: #ffffff;
  }
}

.site-button--slider,
.site-button--sale {
  display: block;
  width: 127px;
  padding: 12px 10px;
}

.site-button--wide {
  width: 205px;
  padding: 14px;
}

.site-button--white {
  width: 172px;
  padding: 14px;
  color: @black;
  background-color: #ffffff;

  &:active {
    color: rgba(0, 0, 0, 0.6);
  }
}

.site-button--details {
  width: 127px;
  padding: 11px;
  color: @red;
  background: #ffffff;
  border: 1px solid @red;

  &:active {
    color: @red;
    opacity: 0.7;
  }
}

.site-button--low {
  width: 113px;
  padding: 6.5px;
  color: @black;
  background-color: transparent;
  border: 1px solid @light-gray;

  &:active {
    opacity: 0.7;
  }
}

.site-button--big {
  width: 168px;
}

.site-button--basket {
  display: block;
  width: 181px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 16px;
  text-transform: uppercase;
}

@media (max-width: 1200px) {
  .site-button--catalog {
    position: relative;
    width: 250px;
    padding-left: 60px;
    text-align: left;
    pointer-events: all;

    &::before {
      content: "";
      position: absolute;
      top: 26.5px;
      left: 21px;
      width: 24px;
      height: 1px;
      background-color: #ffffff;
      box-shadow:
        0 -7px 0 0 #ffffff,
        0 7px 0 0 #ffffff;
    }
  }
}

@media (max-width: 750px) {
  .site-button--big {
    width: 105px;
  }
}

@media (max-width: 620px) {
  .site-button--search {
    width: 80px;
  }

  .site-button--catalog {
    width: 180px;
    padding-left: 40px;
    padding-bottom: 17px;
    font-size: 16px;
  }

  .site-button--catalog::before {
    top: 25px;
    left: 11px;
  }

  .site-button--slider {
    width: 110px;
  }

  .site-button--white {
    width: 150px;
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .site-button--details {
    width: 98px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 14px;
  }

  .site-button--sale {
    width: 103px;
    margin-top: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 14px;
  }

  .site-button--submit {
    width: 280px;
  }

  .site-button--contacts {
    width: 130px;
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 14px;
  }

  .site-button--big {
    width: 150px;
  }
}
