.site-title {
  padding-bottom: 18px;
  font-size: 36px;
  color: @black;
  text-transform: uppercase;
  border-bottom: 1px solid @light-gray;
}

.site-title--short {
  width: 825px;
}

@media (max-width: 1200px) {
  .site-title--short {
    width: 100%;
  }
}

@media (max-width: 620px) {
  .site-title {
    padding-bottom: 11px;
    font-size: 24px;
  }

  .site-title--less {
    font-size: 22px;
  }
}
