.social-list {
  display: flex;
  justify-content: space-between;
  width: 130px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;

  &:hover {
    outline: 1px solid @black;
  }

  &:active {
    opacity: 0.5;
  }
}

.social-list__icon {
  min-width: auto;

}
